*{
	margin: 0;padding: 0; text-decoration: none;    font-family: 'Roboto', Open Sans, sans-serif;font-size: xx-large;}
h1{
	color:#666;text-align: center;}
	h2{
		color:#666;text-align: center;}
a {
	color: white;}
header {
	background-color:  #666;	color:white;text-align: center;height: 9vh;min-height: 100px;margin: 5px;width:100vw; min-width: 380px;}
header img {
		display: inline;margin: 5px;}
nav {
	background-color: #666;color:white; }	
nav li {
	display: inline;margin: 5px;padding: 5px;vertical-align: middle;                              
}	

main{height:78%;
	}
main img{
	height: 50px;
	width: auto;
}
footer {
	color:#666;text-align: center;vertical-align: bottom;}
/* ===== Productos  ===== */



#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
#lista-productos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcb2b2;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}





.marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    padding: 20px;
    height: auto;
}

.marcas img {
    width: 15%;
    height: auto;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*rojo: #DA251C   */
/* gris #666 */ 